#board {
	width:306px;
	height:306px;
	color: red;
	border: dotted 2px;
	margin:auto;
}

.box {
	background: yellow;
	width: 100px;
	height: 100px;
	color: red;
	float:left;
	border: solid 1px black;
}

